body, html {
  margin: 0;
  font-family: 'Overpass', sans-serif;
}

#content-bar-commands, #content-bar-options {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 125px);
  padding: 25px 15px;
  background: #2C2C32;
}

#content-bar-options {
  display: none;
}

#title-bar {
  width: 100%;
  height: 125px;
  background: #33333B;
  position: relative;
}

#appTitle {
  color: #f7f7f7;
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 85px;
  letter-spacing: 0.05em;
  font-weight: 900;
  font-size: 16px;
}

#nav {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  user-select: none;
}

#nav ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  height: 100%;
  color: rgba(240,240,240,0.7);
}

#nav li {
  font-size: 14px;
  width: calc(100% / 3);
  height: 100%;
  text-align: center;
  line-height: 50px;
  /* color: rgba(240,240,240,0.7); */
  font-weight: 500;
}

.navlink:hover {
  color: #1dd1a1;
}

.navlink {
  cursor: pointer;
}

.activelink {
  color: #1dd1a1;
  border-bottom: 3px solid #1dd1a1;
  font-weight: 900;
  cursor:pointer;
  box-sizing: border-box;
}

.dim {
  color: rgba(255,255,255,0.2);
  cursor: not-allowed;
}

#setCommands input[type="text"] {
    width: calc(100% - 150px);
    height: 40px;
    background: #1D1D23;
    border-radius: 3px;
    border: 0;
    color: #f7f7f7;
    padding: 5px 15px;
}

#content-bar-options input[type="text"] {
    width: calc(100% - 150px);
    height: 40px;
    background: #1D1D23;
    border-radius: 3px;
    border: 0;
    color: #f7f7f7;
    padding: 5px 15px;
}

#action {
    width: calc(100% - 120px);
    height: 50px;
    background: #1D1D23;
    border-radius: 3px;
    border: 0;
    color: #f7f7f7;
    padding: 5px 15px;
}

.setCommandsTitle {
  display: block;
  width: 150px;
  font-size: 14px;
  color: #f7f7f7;
  height: 100%;
  line-height: 50px;
  padding: 0 15px 0 0;
  text-align: right;
  user-select: none;
}

.Header {
  display: block;
  width: fit-content;
  font-size: 16px;
  color: rgba(240,240,240,0.5);
  margin: 15px 0 10px 0;
  user-select: none;
}
.Hint {
  display: block;
  width: fit-content;
  color: rgba(240,240,240,0.3);
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0 10px 15px;
}
.headerContain {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  user-select: none;
}

#submit {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 0;
  color: #33333B;
  background: #1dd1a1;
  font-weight: 900;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  cursor: pointer;
  letter-spacing: 0.05em;
}

#list {
  margin: 5px 0 10px 0;
  width: calc(100vw - 40px);
  height: 230px;
  overflow-y: auto;
}

.inputRow {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
}

#alert {
  color: #ff0000;
  width: 100%;
  text-align: center;
}

.savedCommandInfo input[type="text"] {
  width: calc((100% / 3) - 60px);
  height: 30px;
  border-radius: 3px;
  background: #1D1D23;
  border: 0;
  color: #f7f7f7;
  padding: 5px 10px;
  margin: 0 5px;
}

#deleteCommand {
  width: 80px;
  height: 36px;
  color: #E97979;
  background: transparent;
  border: 0;
  font-weight: 700;
  cursor: pointer;
}

.savedCommandInfo {
  margin: 5px 0;
  display: flex;
}

.command-edit {
  height: 30px;
  width: calc((100% / 3) - 60px);
  background: #33333B;
  line-height: 30px;
  padding: 5px 10px;
  color: #f7f7f7;
  font-size: 13px;
  font-weight: normal;
}

#audioPathLabel {
  position: relative;
  background: #f7f7f7;
  border-radius: 3px;
  width: fit-content;
  height: 30px;
  padding: 15px 15px;
  cursor: pointer;
}


/* SCROLLBAR CSS */
::-webkit-scrollbar-button{
     display: none;
     height: 13px;
     border-radius: 0px;
     background-color: #33333B;
}
 ::-webkit-scrollbar-button:hover{
     background-color: #AAA;
}
 ::-webkit-scrollbar-thumb{
   background-color: #44444b;
     border-radius: 30px;
}
 ::-webkit-scrollbar-thumb:hover{
     background-color: #55555e;
}
 ::-webkit-scrollbar-track{
    display: none;
     background-color: #efefef;
     border-radius: 0px;
}
 ::-webkit-scrollbar-track:hover{
     background-color: #e5e5e5;
}
 ::-webkit-scrollbar{
     width: 10px;
}
